<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net>
    <!--定义输出到文件中-->
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--定义文件存放位置-->
      <file value="log\\"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyy\\yyyyMM\\yyyyMMdd'.txt'"/>
      <staticLogFileName value="false"/>
      <param name="MaxSizeRollBackups" value="100"/>
      <layout type="log4net.Layout.PatternLayout">
        <!--每条日志末尾的文字说明-->
        <!--输出格式-->
        <!--样例：2008-03-26 13:42:32,111 [10] INFO  Log4NetDemo.MainClass [(null)] - info-->
        <conversionPattern value="%newline %n记录时间：%date %n线程ID:[%thread] %n日志级别：  %-5level %n出错类：%logger property: [%property{NDC}] - %n错误描述：%message%newline %n"/>
      </layout>
    </appender>
    <root>
      <!-- 日志等级
    Level.Off = new Level(2147483647, "OFF");
    Level.Log4Net_Debug = new Level(120000, "log4net:DEBUG");
    Level.Emergency = new Level(120000, "EMERGENCY");
    Level.Fatal = new Level(110000, "FATAL");
    Level.Alert = new Level(100000, "ALERT");
    Level.Critical = new Level(90000, "CRITICAL");
    Level.Severe = new Level(80000, "SEVERE");
    Level.Error = new Level(70000, "ERROR");
    Level.Warn = new Level(60000, "WARN");
    Level.Notice = new Level(50000, "NOTICE");
    Level.Info = new Level(40000, "INFO");
    Level.Debug = new Level(30000, "DEBUG");
    Level.Fine = new Level(30000, "FINE");
    Level.Trace = new Level(20000, "TRACE");
    Level.Finer = new Level(20000, "FINER");
    Level.Verbose = new Level(10000, "VERBOSE");
    Level.Finest = new Level(10000, "FINEST");
    Level.All = new Level(-2147483648, "ALL");-->
      <level value="DEBUG"/>
      <!--文件形式记录日志-->
      <appender-ref ref="RollingLogFileAppender"/>
    </root>
  </log4net>
</configuration>