<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <appSettings>

    <!--队列地址-->
    <add key="QueueUrl" value="106.15.180.98" />

    <!--微信处理站点地址-->
    <add key="ConfigSiteUri" value="http://weixin.zxsj123.com" />

    <!--微信处前端地址-->
    <add key="WebUri" value="http://web.zxsj123.com" />

  </appSettings>
  
  <connectionStrings>
    <add name="RedisConnectionString" connectionString="106.15.180.98:6379" />
    <!--<add name="DataConnectionString" connectionString="Data Source=192.168.1.120;Database=MutualClass;uid=zxsj_MutualClass;pwd=zxsj123456;port=3306;Allow Zero Datetime=true;Convert Zero Datetime=true;persist security info=true;charset=utf8;Pooling=true;Max Pool Size=50;Min Pool Size=5;Connect Timeout=60;Allow User Variables=True;" />-->
    <add name="DataConnectionString" connectionString="Data Source=106.14.185.34;Database=MutualClassnewtest;uid=zxsj_surevy;pwd=zxsj123456;port=3306;Convert Zero Datetime=true;persist security info=true;charset=utf8;Pooling=true;Max Pool Size=50;Min Pool Size=5;Connect Timeout=60;Allow User Variables=True;" />
  </connectionStrings>

  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
</configuration>