<div class="index_sta" id="div_merchants">
    <div class="is_top clearfix">
        <div class="clearfix is_topP">
            <span>签约商户发展</span>
            <button class="staButton fr" id="btn_merchants">搜索</button>
            <input class="laydate-icon di fr" id="time_to2">
            <i class="fr index_line"></i>
            <input class="laydate-icon time_from di fr" id="time_from2">
            <div class="placearea fr di">
                <select name="province" id="selProvince_merchants"></select>
                <select name="city" id="selCity_merchants"></select>
                <select name="area" id="selArea_merchants"></select>
            </div>
        </div>
    </div>
    <div class="is_chart">
        <div id="main_merchants" style="width: 800px;height:350px;margin:0 auto;">

        </div>
    </div>
</div>


<script type="text/javascript">
    $(function () {
        var date = new Date();
        var ms = 30 * (1000 * 60 * 60 * 24);
        var startTime = formatDate(new Date(date.getTime() - ms), "yyyy-mm-dd");
        var endTime = formatDate(new Date(), "yyyy-mm-dd");
        $("#time_to2").val(endTime);
        $("#time_from2").val(startTime);
      
        MerchantsSource();
        provinceGbCode3();
      
        $("#selProvince_merchants").on("change", function () {
            $("#selCity_merchants").empty();
            $("#selArea_merchants").empty();
            cityGbCode3($(this).val());
        });
        $("#selCity_merchants").on("change", function () {
            $("#selArea_merchants").empty();
            areaGbCode3($("#selProvince_merchants").find("option:selected").val(), $(this).val());
        });
 
        $("#btn_merchants").on("click", function () {
            MerchantsSource();
        });
    });
 
    function MerchantsEchartsBind(xAxisData, seriesData) {
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main_merchants'));
        // 指定图表的配置项和数据
        var option = {
            title: {
                text: '商户发展'
            },
            tooltip: {
                borderColor: "#333"
            },
            legend: {
                data: ['数量'],
                show: true,
                borderColor: '#6CD0E8'
            },
            xAxis: {
                type: 'category',
                data: xAxisData
            },
            yAxis: {},
            series: [{
                name: '数量',
                type: 'line',
                areaStyle: { normal: { color: '#6CD0E8' } },
                lineStyle: { normal: { color: '#6CD0E8' } },
                ItemStyle: { normal: { color: '#6CD0E8' } },
                data: seriesData
            }]
        };
        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    }

    function MerchantsSource() {
        var d;
        $.ajax({
            url: '@Url.Action("QuesMerchantsStatisticalByTimeSource")',
            type: "post",
            dataType: "json",
            data: {
                t: new Date().getDate(),
                level: 5,
                provinceId: $("#selProvince_merchants").find("option:selected").val() == "-1" ? "" : $("#selProvince_merchants").find("option:selected").val(),
                cityId: $("#selCityId_merchants").find("option:selected").val() == "-1" ? "" : $("#selCityId_merchants").find("option:selected").val(),
                areaId: $("#selAreaId_merchants").find("option:selected").val() == "-1" ? "" : $("#selAreaId_merchants").find("option:selected").val(),
                startTime: $("#time_from2").val(),
                endTime: $("#time_to2").val()
            },
            beforeSend: function () {
               // d = dialog_loading();
            },
            error: function () {
               // dialog_loadingClose(d);
                dialog({ contentType: 'tipsbox', skin: 'bk-popup', content: '服务器繁忙', closeTime: 2000 }).show();
            },
            success: function (res) {
               // dialog_loadingClose(d);

                if (res.success) {
                    var seriesData = [];
                    var xAxisData = [];
                    $(res.result.Data).each(function (i, item) {
                        seriesData.push(item.SigningCount);
                        xAxisData.push(item.SigningDateTime);
                    });
                    var total = res.result.Total;
                    MerchantsEchartsBind(xAxisData, seriesData);
                }
            }
        });
    }



    function provinceGbCode3() {
        var provinceHtml = "<option value='-1'>-省份-</option>";
        $(_cityAreaData).each(function (i, v) {
            provinceHtml += " <option value=" + v['c'] + ">" + v['n'] + "</option>";
        });
        $("#selProvince_merchants").append(provinceHtml);

        var cityHtml = "<option value='-1'>-城市-</option>";
        $("#selCity_merchants").append(cityHtml);
        var areaHtml = "<option value='-1'>-区县-</option>";
        $("#selArea_merchants").append(areaHtml);
    }

    function cityGbCode3(provinceId) {
        var cityHtml = "<option value='-1'>-城市-</option>";
        $(_cityAreaData).each(function (i, v) {
            if (v['c'] == provinceId) {
                var _cityData = v['r'];
                $(_cityData).each(function (j, m) {
                    cityHtml += " <option value=" + m['c'] + ">" + m['n'] + "</option>";
                });
            }
        });
        $("#selCity_merchants").append(cityHtml);
        var areaHtml = "<option value='-1'>-区县-</option>";
        $("#selArea_merchants").append(areaHtml);
    }

    function areaGbCode3(provinceId, cityId) {
        var areaHtml = "<option value='-1'>-区县-</option>";
        $(_cityAreaData).each(function (i, v) {
            if (v['c'] == provinceId) {
                var _cityData = v['r'];
                $(_cityData).each(function (j, m) {
                    if (m['c'] == cityId) {
                        var _areaData = m['r'];
                        $(_areaData).each(function (k, z) {
                            areaHtml += " <option value=" + z['c'] + ">" + z['n'] + "</option>";
                        });
                    }
                });
            }
        });
        $("#selArea_merchants").append(areaHtml);
    }

</script>
